<iap-dialog-header>
  <h2>ADD AN ASSESSOR</h2>
  <button mat-icon-button class="close-button" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</iap-dialog-header>
<mat-dialog-content>
  <div class="content">
    <p class="notice">Please complete all compulsory fields(*) and click Save to complete your review.</p>
    <div class="content-wrapper">
      <div class="col-md-12 row">
        <div class="col-md-8 group-info">
          <div class="group-item">
            <div class="title">
              Assessor Name
            </div>
            <div class="info">
              <div class="upload-container">
                <span>Select assessor</span>
                <button mat-raised-button class="mat-button-petronas-ghost-small" id="browse">Browse</button>
                <!-- <form id="frmAttachment" hidden>
                  <input type="file">
                </form> -->
              </div>
            </div>
          </div>
          <div class="group-item">
            <div class="title">
              Email Address
            </div>
            <div class="info">
              &lt;system auto populate&gt;
            </div>
          </div>
          <div class="group-item">
            <div class="title">
              OPU
            </div>
            <div class="info">
              &lt;system auto populate&gt;
            </div>
          </div>
          <div class="group-item">
            <div class="title">
              Department
            </div>
            <div class="info">
              &lt;system auto populate&gt;
            </div>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <div class="button-group">
            <button mat-raised-button color="primary">SAVE</button>
            <button mat-raised-button class="mat-button-lg mat-button-ghost mat-button-border primary" mat-dialog-close>CANCEL</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</mat-dialog-content>
