<iap-box class="left-bordered violet">
  <div class="card-item">
    <div class="card-content">
      <div class="col-md-12 row">
        <div class="col-md-4 group-info borderd">
          <div class="item col-md-12">
            <div class="title">
              Department Name
            </div>
            <div class="info">
              Department Long Name
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="group-info">
            <div class="item col-md-4">
              <div class="title">
                Assurance Type
              </div>
              <div class="info">
                Functional Checklist
              </div>
            </div>
            <div class="item col-md-4">
              <div class="title">
                Department Name
              </div>
              <div class="info">
                <ul>
                  <li>PTW</li>
                  <li>HSE</li>
                  <li>FC 1</li>
                  <li>FC 2</li>
                </ul>
              </div>
            </div>
            <div class="item col-md-4">
              <div class="title">
                No of Assurance Plan
              </div>
              <div class="info">
                <ul>
                  <li>1</li>
                  <li>5</li>
                  <li>3</li>
                  <li>3</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</iap-box>
