$petronas_color: #00A19C;
$error_color: red;

:host {
    display: flex;
    justify-content: center;
}

#loginContainer {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background: url('/assets/images/background-login.jpg') no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginForm {
  position: relative;
  z-index: 1;
  background-color: #eee;
  width: 360px;
  max-width: 360px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12), 0px 8px 16px rgba(0, 0, 0, 0.24);
  >.login-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background: radial-gradient(circle at 180px -120px, #ffffff, #ffffff 300px, rgba(0, 0, 0, 0) 300px);
    >.login-logo {
      height: 120px;
      width: 120px;
      background: url('/assets/images/petronas_logo_144.png') no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
  >.login-form-body {
    padding: 24px 16px 0;
    >h4.app-name {
      text-align: center;
      color: rgba(0, 0, 0, 0.4);
      font-weight: bold;
      font-size: 24px;
    }
    footer {
      padding: 20px 0px;
      text-align: center;
      a {
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
          color: $petronas_color !important;
        }
      }
      >.help {
        margin-bottom: 10px;
        >a {
          color: rgba(0, 0, 0, 0.8);
        }
      }
      >.term {
        >a {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}

.background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  >.login-form-input {
    position: relative;
    width: 100%;
    margin-bottom: 4px;
    i:not(.select-arrow) {
      position: absolute;
      top: 12px;
      left: 8px;
      color: #ccc;
      pointer-events: none;
      transition: color 0.2s;
    }
    input,
    select {
      width: 100%;
      line-height: 1.6;
      font-size: 13px;
      height: 48px;
      padding-left: 40px;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: white;
      appearance: none;
      transition: all 0.2s;
      &::-ms-expand {
        display: none;
      }
      &:focus {
        padding: 0 0 0 39px;
        border: 2px solid $petronas_color;
        outline: none;
        +i {
          color: $petronas_color;
        }
      }
      ~.select-arrow {
        position: absolute;
        width: 24px;
        height: 24px;
        line-height: 1;
        top: 12px;
        right: 8px;
        left: auto;
        background: transparent;
        font-size: 24px;
        pointer-events: none;
      }

      &#ddlDomain:invalid {
        color: rgb(117, 117, 117);
      }
    }
  }
  >.error-message {
    display: flex;
    // visibility: hidden;
    >i {
      flex-basis: 48px;
      text-align: center;
      align-self: center;
      color: $error_color;
    }
    >span {
      color: $error_color;
    }

    &.active {
      visibility: visible;
    }
  }
  >button {
    width: 100%;
    height: 40px;
    background: $petronas_color;
    color: white;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}
