<mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <h2 class="tab-label">Resource Loading</h2>
    </ng-template>
    <div class="tab-content">
      <ng-content select="iap-resource-loading-tab"></ng-content>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <h2 class="tab-label">Calendar</h2>
    </ng-template>
    <div class="tab-content">
      <ng-content select="iap-calendar-tab"></ng-content>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <h2 class="tab-label">Submission Summary</h2>
    </ng-template>
    <div class="tab-content">
      <ng-content select="iap-submission-summary-tab"></ng-content>
    </div>
  </mat-tab>
</mat-tab-group>
