@import 'variable.color';
:host {
  display: block;
  margin: 10px 0;
  h2 {
    color: $color-iap-dark-text;
    margin: 0;
    span {
      color: $color-iap-light-text;
      font-weight: 500;
      font-size: 0.6em;
    }
  }
}
