
<iap-box class="left-bordered violet">
  <div class="card-item">
    <div class="card-content">
      <div class="col-md-12 row">
        <div class="col-md-4 group-info borderd">
          <div class="plan">
            <div class="multi-level">
              2
            </div>
            <span class="multi-level-parent">Execution and monitoring</span>
          </div>
          <div class="plan">
            <div class="multi-level">
              2.1
            </div>
            <span>Is worker wear the required PPE?</span>
          </div>
          <iap-card-state [isComply]="false"></iap-card-state>
        </div>
        <div class="col-md-8">
          <div class="action-party row">
            <div class="col-md-6 group-info">
              <div class="col-md-12 row">
                <div class="item col-md-12">
                  <div class="title">
                    Findings
                  </div>
                  <a href="#">AnnualPlan/mlng/2018/deptA/FC/0001/FIND/1</a>
                </div>
              </div>
              <div class="col-md-12 row">
                <div class="item col-md-6">
                  <div class="title">
                    Action Items
                  </div>
                  <div class="info">
                    1 item
                  </div>
                </div>
                <div class="item col-md-6">
                  <div class="title">
                    Remarks
                  </div>
                  <div class="info">
                    3 items
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6  group-info">

              <div class="col-md-12 row">
                <div class="item col-md-6">
                  <div class="title">
                    Action Party
                  </div>
                  <div class="info action-group">
                    <button mat-raised-button class="btn-ghost petronas btn-radius">
                      <mat-icon>add</mat-icon> Assign</button>
                  </div>
                </div>
                <div class="item col-md-6">
                  <div class="title">
                    Action Party Verifier
                  </div>
                  <div class="info">
                    <span>-</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 group-info">
              <div class="col-md-12 row">
                <div class="item col-md-12">
                  <div class="title">
                    Findings
                  </div>
                  <a href="#">AnnualPlan/mlng/2018/deptA/FC/0001/FIND/2</a>
                </div>
              </div>
              <div class="col-md-12 row">
                <div class="item col-md-6">
                  <div class="title">
                    Action Items
                  </div>
                  <div class="info">
                    1 item
                  </div>
                </div>
                <div class="item col-md-6">
                  <div class="title">
                    Remarks
                  </div>
                  <div class="info">
                    3 items
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6  group-info">

              <div class="col-md-12 row">
                <div class="item col-md-6">
                  <div class="title">
                    Action Party
                  </div>
                  <div>
                    Action Party Name Long Name
                  </div>
               
                </div>
                <div class="item col-md-6">
                  <div class="title">
                    Action Party Verifier
                  </div>
                  <div class="info">
                    <span>&lt;system auto populate&gt;</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 row">
                <div class="item col-md-12">
                  <div class="info action-group">
                    <button mat-raised-button class="btn-ghost petronas btn-radius">
                      <mat-icon>add</mat-icon> Re-Assign</button>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</iap-box>
