@import 'src/styles/ultilities/_variable.scss';
@import 'mixin';

:host {
  padding: 0;
}

.card-item {
  font-size: 85%;
  padding-right: 0;
}

.card-content {
  font-weight: 500;
  font-size: 120%;
  padding: 4px 14px;
  @include mediaSmallScreen {
    text-align: center;
  }
  @include mediaExtraSmallScreen {
    text-align: center;
  }
  .action-party {
    display: flex;
    //
    &:not(:last-child){
      border-bottom: 1px solid gainsboro;
    }
    &:not(:first-child){
      margin-top: 20px;
    }
  }
  .group-info {
    &.borderd{
      border-right: 1px solid gainsboro;
      @include mediaSmallScreen {
        margin-bottom: 15px;
      border-right: none;
      border-bottom: 1px solid gainsboro;
      }
      @include mediaExtraSmallScreen {
        margin-bottom: 15px;
        border-right: none;
      border-bottom: 1px solid gainsboro;
      }
    }
    .plan {
      display: flex;
      margin-bottom: 30px;
      .multi-level {
        flex-basis: 8%
      }
      .multi-level-parent {
        font-weight: bold;
      }
    }
    .btn-group {
      display: flex;
      justify-content: space-between;
      font-size: 120%;
    }
    .item {
      margin-bottom: 40px;
      .title {
        font-weight: 300;
        font-size: 85%;
        color: rgba(0, 0, 0, 0.68);
        margin-bottom: 7px;
      }
      >a {
        text-transform: uppercase;
        word-break: break-all;
        text-decoration: underline;
        display: block;
      }

      .info {
        >mat-icon {
          font-size: 100%;
        }
        >mat-form-field {
          display: block;
        }
        .re-assign{
          margin-top: 7px
        }
      }
    }
    .status {
      font-size: 18px;
      color: red;
    }
  }
}

iap-box {
  margin-top: 30px;
}
