<iap-small-card-template [color]="'opu-aap'">
  <header>
    <iap-card-status [time]="'18:30 19/2/2018'">Draft</iap-card-status>
    <iap-card-ref [name]="'AAP Ref No. (OPU)'">APP/MLNG/2018</iap-card-ref>
    <iap-card-title [name]="'Title'">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio aut maiores nesciunt magni ipsum tempora sint, natus voluptate
      quam corporis deserunt quae error consequuntur ab. Ipsum quae laborum exercitationem molestias.</iap-card-title>
  </header>
  <footer>
    <iap-card-nav-icon-row *ngIf="isRequiredAction">
      <iap-card-info [name]="'Required action'">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, quo.</iap-card-info>
      <iap-card-nav-icon></iap-card-nav-icon>
    </iap-card-nav-icon-row>
    <iap-card-nav [href]="'/web/annual-assurance-plan/dep-annual-assurance-plan'">Review & Consolidate</iap-card-nav>
    <iap-card-info-row>
      <iap-card-info [name]="'From'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quos!</iap-card-info>
      <iap-card-info [name]="'Due Date'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quos!</iap-card-info>
    </iap-card-info-row>
  </footer>
</iap-small-card-template>
