@import 'variable';
.description {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .frequency-plan {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .monthly-plan {
            text-align: center;
            > label{
                color: $color-petronas;
                font-weight: 600;
            }
            >div {
                margin-top: 8px;
                margin-bottom: 20px;
            }
        }
    }
    .detail {
        font-weight: 600;
    }
    .type {
        >button {
            margin-top: 15px;
            word-spacing: 2px;
            text-transform: uppercase;
        }
    }
    .time {
        font-size: 85%;
        color: rgba(0, 0, 0, 0.68);
        margin-bottom: 7px;
    }
}
.btn-group{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    .detail-action {
      display: flex;
      justify-content: center;
        margin-bottom: 10px;
        >button {
          width: 80%;
          padding: 10px 25px;
        }
        #edit{
            width: 80%;
            background-color: $color-petronas !important;
            color: white !important;
        }
    }
    >span{
        font-size: 85%;
    color: rgba(0, 0, 0, 0.68);
    margin-bottom: 20px;
    }
}
.footer{
    margin: 0px 12px;
}
