<iap-box class="left-bordered violet">
    <div class="card-item">
      <div class="card-content">
        <div class="col-md-12 row">
          <div class="col-md-4 group-info">
            <div class="item">
              <div class="multi-level">
                2
              </div>
              <span class="multi-level-parent">Execution and monitoring</span>
            </div>
            <div class="item">
                <div class="multi-level">
                  2.1
                </div>
                <span>Is worker wear the required PPE?</span>
              </div>
              <iap-card-state [isComply]="false"></iap-card-state>
          </div>
          <div class="col-md-4 group-info">
            <div class="col-md-12 row">
              <div class="item col-md-12">
                <div class="title">
                  Findings
                </div>
                <a href="#">AnnualPlan/mlng/2018/deptA/FC/0001/FIND/1</a>
              </div>
            </div>
            <div class="col-md-12 row">
              <div class="item col-md-6">
                <div class="title">
                  Action Items
                </div>
                <div class="info">
                  1 item
                </div>
              </div>
              <div class="item col-md-6">
                <div class="title">
                 Remarks
                </div>
                <div class="info">
                  3 items
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 group-info">
            <div class="item col-md-12">
              <div class="title">
                Endorse this item?
              </div>
              <mat-radio-group class="btn-group" color="primary">
                <mat-radio-button color="primary" value="1">Approve</mat-radio-button>
                <mat-radio-button color="warn" value="2">Revert</mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="item col-md-12">
              <div class="info">
                <mat-form-field>
                  <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="Remarks"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </iap-box>
