$color-action-item: #ff66cc;
$color-label-header: #666666;
$color-label-content: #4d4d4d;
$color-positive: #73b565;
$color-negative: #ca5b54;
$color-iap-blue: #2e8ddb;
$color-iap-light-blue: #74bedb;
$color-iap-gold: #ff9900;
$color-iap-violet: #901f6a;
$color-iap-dark-text: $color-label-content;
$color-iap-light-text: $color-label-header;
$color-iap-hr: #c4c4c4;
$color-opu-aap: $color-iap-light-blue;
$color-dept-aap: $color-iap-blue;
$color-ap: $color-iap-violet;
$color-assessor: $color-iap-gold;
$color-findings-item: #9e8a63;
