* {
  //IE
  scrollbar-base-color: #c9c9c9;
  scrollbar-face-color: #c9c9c9;
  scrollbar-3dlight-color: #c9c9c9;
  scrollbar-highlight-color: #c9c9c9;
  scrollbar-track-color: #DBDBDB;
  scrollbar-arrow-color: #c9c9c9;
  scrollbar-shadow-color: #c9c9c9;
  scrollbar-dark-shadow-color: #c9c9c9;
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar:horizontal {
    height: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c9c9c9;
  }
  &::-webkit-scrollbar-track {
    // background: rgb(241, 243, 245);
    background: transparent;
  }
}
