@import './ultilities/_flex-responsive.mixin.scss';
@import './ultilities/_variable.scss';

$col-width: 8.33333333%;
$list-screen-size: ('xs', 'sm', 'md', 'lg');

.fx-item-first {
  @include order-item(0, -1, -1);
}

.fx-item-last {
  @include order-item(2, 1, 1);
}

.fx-items-start {
  @include justify-content(start, start, flex-start, start);
}

.fx-items-center {
  @include justify-content(center, center, center, center);
}

.fx-items-end {
  @include justify-content(end, end, flex-end, end);
}

.fx-items-top {
  @include align-items(start, start, flex-start);
}

.fx-items-middle {
  @include align-items(center, center, center);
}

.fx-items-bottom {
  @include align-items(end, end, flex-end);
}

.fx-items-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.fx-items-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


.container-fluid,
.container {
  @include margin-left-right(auto);
}

.container-fluid {
  @include margin-left-right(2rem);
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @include flex-direction(horizontal, normal, row, row);
}

.row.reverse {
  @include flex-direction(horizontal, reverse, row-reverse, row-reverse);
}

.col.reverse {
  @include flex-direction(vertical, reverse, column-reverse, column-reverse);
}

%generic-column-styles {
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@for $screenSize from 1 through length($list-screen-size) {
  @for $num from 1 through 12 {
    .col-#{nth($list-screen-size, $screenSize)}-#{$num} {
      @extend %generic-column-styles;
    }
  }
}


@media only screen and (max-width: $breakpoint-sm) {
  @include generateColumnWidth(nth($list-screen-size, 1));
  @include generateColumnOffset(nth($list-screen-size, 1));
}

@media only screen and (min-width: $breakpoint-sm) {
  @include generateColumnWidth(nth($list-screen-size, 2));
  @include generateColumnOffset(nth($list-screen-size, 2));
}

@media only screen and (min-width: $breakpoint-md) {
  @include generateColumnWidth(nth($list-screen-size, 3));
  @include generateColumnOffset(nth($list-screen-size, 3));
}

@media only screen and (min-width: $breakpoint-lg) {
  @include generateColumnWidth(nth($list-screen-size, 4));
  @include generateColumnOffset(nth($list-screen-size, 4));
}
