@import './ultilities/_variable.scss';
$wf-process-width-sm: 180px;
$wf-process-width-md: 240px;
$padding-left: 22px;
$wf-process-right: 25px;
$wf-gap: 15px;
.wf-container {
  margin-bottom: $wf-gap;
  @media screen and (min-width: $breakpoint-sm) {
    width: calc(100vw - #{$app-sidebar-width} - #{$padding-left} - #{$wf-process-right} - #{$wf-process-width-sm} - #{$wf-gap});
  }
  @media screen and (min-width: $breakpoint-md) {
    width: calc(100vw - #{$app-sidebar-width} - #{$padding-left} - #{$wf-process-right} - #{$wf-process-width-md} - #{$wf-gap});
  }
}

.wf-process-flow {
  position: fixed;
  top: 30px;
  right: calc(#{$wf-process-right} - #{$scrollbar-width});
  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }
  @media screen and (min-width: $breakpoint-sm) {
    width: $wf-process-width-sm;
  }
  @media screen and (min-width: $breakpoint-md) {
    width: $wf-process-width-md;
  }
  animation: magic 0s ease-in-out forwards;
  animation-delay: 0.5s;
  @keyframes magic {
    100% {
      top: 78px;
      right: $wf-process-right;
    }
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .wf-process-flow {
    position: fixed;
    top: 78px;
    right: $wf-process-right;
    animation: none;
  }
}
