<iap-breadscrumb></iap-breadscrumb>
<iap-progress-bar-small></iap-progress-bar-small>
<iap-page-header>
  Annual Assurance Plan Listing
</iap-page-header>
<div class="dept-annual-item-container">
  <div class="list-item-info">
    <div class="item-info">
      <iap-label>Reference No</iap-label>
      <p>ANNUALPLAN/MLNG/2018</p>
    </div>
    <div class="item-info">
      <iap-label>Assurance Year</iap-label>
      <p>2018</p>
    </div>
    <div class="item-info">
      <iap-label>Assurance Line</iap-label>
      <p>First Line</p>
    </div>
  </div>
  <div class="list-item-info">
    <div class="item-info">
      <iap-label>OPU</iap-label>
      <p>&lt;system auto populate&gt;</p>
    </div>
    <div class="item-info">
      <iap-label>Department</iap-label>
      <p>&lt;system auto populate&gt;</p>
    </div>
    <div class="item-info">
      <iap-label>Annual Plan Status (OPU/Asset)</iap-label>
      <p>&lt;system auto populate&gt;</p>
    </div>
  </div>
  <div class="item-action">
    <button mat-raised-button color="primary" disabled>SUBMIT</button>
    <p>Submit of Endorsement</p>
    <p>0 of 2 completed</p>
  </div>
</div>

<iap-list-dept-aap>
</iap-list-dept-aap>
