@import 'variable.color';
@import 'mixin';
:host {
  display: block;
  border-right: 2px solid transparent;
}

iap-box {
  display: flex;
  .info {
    flex-grow: 1;
    margin-right: 16px;
    border-right: 1px solid $color-iap-hr;
  }
  .chart-container {
    flex-basis: 60%;
  }
  @include responsive($max-width: 56em) {
    flex-direction: column;
    .info {
      border-right: none;
    }
    .chart-container {
      flex-basis: 100%;
    }
  }
}

.chart-container {
  height: 300px;
  min-height: 300px;
  max-height: 300px;
}

.chart {
  height: 100%;
  width: 100%;
}
