<iap-box class="left-bordered dept-aap">
  <div class="info">
    <iap-card-info-row>
      <iap-card-info [name]="'OPU'">OPU Name Display</iap-card-info>
      <iap-card-info [name]="'Department Name'">Department Name</iap-card-info>
    </iap-card-info-row>
    <iap-card-info-row>
      <iap-card-info [name]="'Assurance Year'">2018</iap-card-info>
      <iap-card-info [name]="'Assurance Type'">Functional Checklist</iap-card-info>
    </iap-card-info-row>
  </div>
  <div class="chart-container">
    <div class="chart">
      <iap-submission-chart [data]="data"></iap-submission-chart>
    </div>
  </div>
</iap-box>
