<mat-tab-group [dynamicHeight]="true">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Overdue Task (1)</span>
    </ng-template>
    <div class="tab-content">
      <ng-content select=".overdue"></ng-content>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Pending Task (1)</span>
    </ng-template>
    <div class="tab-content">
      <ng-content select=".pending"></ng-content>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">All Task (1)</span>
    </ng-template>
    <div class="tab-content">
      <ng-content select=".all"></ng-content>
    </div>
  </mat-tab>
</mat-tab-group>
