<!-- Annual AP Coordinator card -->
<iap-box class="left-bordered violet">
  <div class="card-item">
    <div class="card-content">
      <div class="col-md-12 row">
        <div class="col-md-4 group-info">
          <div class="item">
            <div class="title">
              AAP Ref No. (OPU)
            </div>
            <a href="#">ANNUALPLAN/MLNG/2018/DEPTA/FC/0001</a>
          </div>
          <div class="item">
            <iap-card-title [name]="'Title'">Title Of AAP Display here cut off the setence when the length</iap-card-title>
          </div>
        </div>
        <div class="col-md-4 group-info">
          <div class="col-md-12 row">
            <div class="item col-md-6">
              <div class="title">
                Assurance Type
              </div>
              <div class="info">
                Management System
              </div>
            </div>
            <div class="item col-md-6">
              <div class="title">
                Month
              </div>
              <div class="info">
                July (3/year)
              </div>
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="item col-md-6">
              <div class="title">
                Lead Assessor
              </div>
              <div class="info">
                <button mat-raised-button class="btn btn-ghost petronas btn-radius">
                  <mat-icon>add</mat-icon> Assign</button>
              </div>
            </div>
            <div class="item col-md-6">
              <div class="title">
                Team Lead
              </div>
              <div class="info">
                <button mat-raised-button class="btn btn-ghost petronas btn-radius">
                  <mat-icon>add</mat-icon> Assign</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 group-info">
          <div class="item col-md-12">
            <div class="title">
              Is the consolidation completed?
            </div>
            <mat-radio-group class="btn-group" color="primary">
              <mat-radio-button color="primary" value="1">Complete</mat-radio-button>
              <mat-radio-button color="warn" value="2">Incomplete</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="item col-md-12">
            <div class="info">
              <mat-form-field>
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="Remarks"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</iap-box>

<!-- Annual AP Reviewer card -->
<iap-box class="left-bordered violet">
  <div class="card-item">
    <div class="card-content">
      <div class="col-md-12 row">
        <div class="col-md-4 group-info">
          <div class="item">
            <div class="title">
              AAP Ref No. (OPU)
            </div>
            <a href="#">ANNUALPLAN/MLNG/2018/DEPTA</a>
          </div>
          <div class="item">
            <iap-card-title [name]="'Title'">Title Of AAP Display here cut off the setence when the length</iap-card-title>
          </div>
        </div>
        <div class="col-md-4 group-info">
          <div class="col-md-12 row">
            <div class="item col-md-6">
              <div class="title">
                Assurance Type
              </div>
              <div class="info">
                Management System
              </div>
            </div>
            <div class="item col-md-6">
              <div class="title">
                Month
              </div>
              <div class="info">
                July (3/year)
              </div>
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="item col-md-6">
              <div class="title">
                Lead Assessor
              </div>
              <div class="info">
              Lead Assessor Name
              </div>
            </div>
            <div class="item col-md-6">
              <div class="title">
                Team Lead
              </div>
              <div class="info">
               Team Lead Name
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 group-info">
          <div class="item col-md-12">
            <div class="title">
           Endorse this item?
            </div>
            <mat-radio-group class="btn-group" color="primary">
              <mat-radio-button color="primary" value="1">Endorse</mat-radio-button>
              <mat-radio-button color="warn" value="2">Revert</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="item col-md-12">
            <div class="info">
              <mat-form-field>
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="Remarks"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</iap-box>

<!-- Annual AP Approver card -->

<iap-box class="left-bordered violet">
  <div class="card-item">
    <div class="card-content">
      <div class="col-md-12 row">
        <div class="col-md-4 group-info">
          <div class="item">
            <div class="title">
              AAP Ref No. (OPU)
            </div>
            <a href="#">ANNUALPLAN/MLNG/2018/DEPTA</a>
          </div>
          <div class="item">
            <iap-card-title [name]="'Title'">Title Of AAP Display here cut off the setence when the length</iap-card-title>
          </div>
        </div>
        <div class="col-md-4 group-info">
          <div class="col-md-12 row">
            <div class="item col-md-6">
              <div class="title">
                Assurance Type
              </div>
              <div class="info">
                Management System
              </div>
            </div>
            <div class="item col-md-6">
              <div class="title">
                Month
              </div>
              <div class="info">
                July (3/year)
              </div>
            </div>
          </div>
          <div class="col-md-12 row">
            <div class="item col-md-6">
              <div class="title">
                Lead Assessor
              </div>
              <div class="info">
              Lead Assessor Name
              </div>
            </div>
            <div class="item col-md-6">
              <div class="title">
                Team Lead
              </div>
              <div class="info">
               Team Lead Name
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 group-info">
          <div class="item col-md-12">
            <div class="title">
          Approve this item?
            </div>
            <mat-radio-group class="btn-group" color="primary">
              <mat-radio-button color="primary" value="1">Approve</mat-radio-button>
              <mat-radio-button color="warn" value="2">Revert</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="item col-md-12">
            <div class="info">
              <mat-form-field>
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="Remarks"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</iap-box>
