<h2>
  List of Action Items:
  <span class="number-item">2 action items</span>
</h2>
<hr>
<div class="action">
  <button mat-raised-button class="mat-button-lg mat-button-border primary" (click)="openActionDialog()">
    <i class="material-icons">add</i>
    ADD ACTION ITEM
  </button>
</div>

<iap-list-small-card-template>
  <iap-action-item></iap-action-item>
  <iap-action-item></iap-action-item>
  <iap-action-item></iap-action-item>
  <iap-action-item></iap-action-item>
  <iap-action-item></iap-action-item>
  <iap-action-item></iap-action-item>
</iap-list-small-card-template>
