@import 'variable.color';
$progress-small-height: 10px;
$progress-step-size: 35px;
:host {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

button {
  height: $progress-step-size;
  color: $color-label-header;
}

iap-progress-bar-small-step {
  position: relative;
  &:not(:last-of-type) {
    &:after {
      content: '';
      width: 2px;
      position: absolute;
      background: $color-iap-blue;
      right: -1px;
      height: $progress-small-height;
      top: calc(#{$progress-step-size}/2 - #{$progress-small-height}/2);
    }
  }
}
