@import 'variable';
$gap: 15px;
.list-info {
  display: flex;
  >* {
    flex-basis: 50%;
  }
  .title {
    font-size: 1.2em;
    font-weight: bold;
    color: $color-petronas;
    >span {
      font-size: 0.7em;
      color: rgba(0, 0, 0, 0.42);
    }
  }
  .action {
    display: flex;
    justify-content: flex-end;
    color: $color-petronas-purple;
    margin-right: $gap;
    >a {
      display: flex;
      align-items: center;
      text-decoration: none;
      &:last-child {
        margin-left: $gap;
      }
    }
  }
}
