@import 'variable';

h2 {
    margin-top: 0;
}

$color-annual-item: rgba($color: #000000, $alpha: 0.48);
.annual-item-container {
  padding-top: 10px;
  margin-bottom: 30px;
  background: white;
  border-bottom: 1px solid gainsboro;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .list-item-info {
    flex-basis: 30%;
    min-width: 400px;
    padding: 0 24px;
    .item-info {
      margin-bottom: 20px;
      >p {
        margin: 0;
        &:first-child {
          font-size: 13px;
          color: $color-annual-item;
        }
        &:last-child {
          color: $color-petronas;
          font-weight: bold;
          font-size: 1.3em;
        }
      }
    }
    @media screen and (max-width: $breakpoint-sm) {
      flex-basis: 100%;
      .item-info {
        text-align: center;
      }
    }
  }
  .item-action {
    flex-basis: 30%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      padding: 8px 56px;
      font-weight: bold;
      color: white;
      &[disabled] {
        background: $color-petronas;
        opacity: 0.5;
      }
    }
    p {
      margin: 0;
      &:first-of-type {
        margin-top: 10px;
        font-weight: bold;
      }
    }
    @media screen and (max-width: $breakpoint-sm) {
      flex-basis: 100% !important;
    }
  }
}
