@import 'mixin';
$gap: 10px;
:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  ::ng-deep iap-card-info {
    flex-basis: calc((100% - #{$gap})/2);
    flex-grow: 1;
    @include mediaIEOnly {
      flex-basis: 40%;
    }
    @include mediaExtraSmallScreen {
      flex-basis: 100%;
    }
    &:first-child {
      margin-right: $gap;
      @include mediaExtraSmallScreen {
        flex-basis: 100%;
        margin-right: 0;
      }
    }
  }
}
