<iap-small-card-template [color]="'ap'">
  <header>
    <div class="title parent">
      <p class="number">4.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eius nisi aspernatur aut velit nulla quibusdam quo possimus
        harum itaque.</p>
    </div>
    <div class="title">
      <p class="number">4.1</p>
      <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque eius nisi aspernatur aut velit nulla quibusdam quo possimus
        harum itaque.</p>
    </div>
  </header>
  <footer>
    <iap-card-nav [href]="'/web/annual-assurance-plan/assurance-plan/checklist-detail'"
    >Access this item</iap-card-nav>
    <!-- <iap-card-nav-icon-row>
    <iap-card-state [isComply]="false"></iap-card-state>
    <iap-card-nav-icon></iap-card-nav-icon>
  </iap-card-nav-icon-row>  -->
    <iap-card-info-row>
      <iap-card-info [name]="'Findings'">0</iap-card-info>
      <iap-card-info [name]="'Action Item(s)'">0</iap-card-info>
    </iap-card-info-row>
  </footer>
</iap-small-card-template>
