<div class="header col-md-12">
  <div class="title"> List of Item:
    <span> 3 item</span>
  </div>
  <div class="btn-group">
    <button mat-raised-button class="btn btn-ghost petronas btn-radius">Download Checklist</button>
    <button mat-raised-button class="btn btn-ghost petronas btn-radius">Upload Checklist</button>
    <button mat-raised-button class="btn btn-ghost petronas btn-radius">Print Checklist</button>
  </div>
</div>

<iap-fieldwork-reporting-checklist class="col-md-12"></iap-fieldwork-reporting-checklist>
