@import 'variable';
:host {
  display: flex;
  flex-wrap: wrap;
}
.header{
  display: flex;
   justify-content: space-between;
   padding: 20px 0px;
   .title{
    font-size: 150%;
    color: $color-petronas;
    font-weight: 600;
    > span{
        font-size: 70%;
        color: black;
        font-weight: 300;
    }
  }
  .btn-group{
    display: flex;
    > button{
      margin-left: 10px;
    }
  }
}
