<div>
  <header>
    <a href="http://">
      <div class="profile-image">
        <img src="/assets/images/Helmi.gif" alt="profile-image">
      </div>
      <div class="profile-info">
        <h4>Muhammad Helmi Abdul Azil</h4>
        <p>mhelmi.abdaziz@petronas.com</p>
      </div>
    </a>
  </header>
  <div class="content">
    <a [routerLink]="['/login']" class="center-items">
      <div class="icon">  
        <i class="material-icons">exit_to_app</i>
      </div>
      <div class="text">
        Log Out   
      </div>
    </a>
  </div>
</div>
