<mat-tab-group [dynamicHeight]="true" (selectedTabChange)="onTabChange($event)" >
  <mat-tab >
    <ng-template mat-tab-label >
      <span class="tab-label">Detail</span>
    </ng-template>
    <div class="tab-content">
      <ng-content  select=".detail"></ng-content>
    </div>
  </mat-tab>
  <mat-tab *ngIf="!isSubmitter" >
    <ng-template mat-tab-label>
      <span class="tab-label">Finding Action </span>
    </ng-template>
    <div class="tab-content">
      <ng-content select=".finding-action"></ng-content>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="tab-label">Workflow Tracking</span>
    </ng-template>
    <div class="tab-content">
      <ng-content select=".workflow"></ng-content>
    </div>
  </mat-tab>
</mat-tab-group>
