<div class="header col-md-12">
  <div class="title"> List of Assurance Plans:
    <span> 3 item</span>
    <button (click)="openAssurancePlan()" mat-raised-button class="mat-button-ghost">
      <mat-icon>add</mat-icon>
      <span>ADD NEW PLAN</span>
    </button>
  </div>
  <div class="action">
    <a routerLink="/web/annual-assurance-plan/summary/calendar">
      <button mat-raised-button class="mat-button-petronas-ghost-small">VIEW IN CALENDAR</button>
    </a>
  </div>
</div>
<iap-list-small-card-template >
  <iap-ap (onDeleteClick)="onDelete(item)" *ngFor="let item of assurancePlans" [assurance]="item"></iap-ap>
</iap-list-small-card-template>
