@import 'variable';

.header{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
   .title{
       font-size: 150%;
       color: $color-petronas;
       font-weight: 600;
       > span{
           font-size: 70%;
           color: black;
           font-weight: 300;
       }
   }
    .action {
        margin-left: auto;
         button {
             border-radius: 20px;
             background: white;
             border: 2px solid $color-petronas;
             color: $color-petronas;
         }
      }
}
.btn-lg{
    padding: 8px 3px;
    padding: 8px 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 0px;
}