<iap-list-header-row>
  <iap-list-header [name]="'Calendar View Results: '">3 person</iap-list-header>
  <iap-list-header-action>
    <button mat-raised-button class="mat-button-petronas-ghost-small-long">EXPORT</button>
    <button mat-raised-button class="mat-button-petronas-ghost-small-long" (click)="openFilter()">FILTER</button>
  </iap-list-header-action>
</iap-list-header-row>
<hr>
<div class="results">
  <div class="month-result" *ngFor="let monthData of data">
    <iap-box class="month-content">
      <header>
        <h4>{{monthData.month}}</h4>
      </header>
      <div class="result">
        <a *ngFor="let url of monthData.urls">{{url}}</a>
      </div>
    </iap-box>
  </div>
</div>
