@import 'variable';
@import 'mixin';
$gap: 15px;
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mediaExtraSmallScreen {
    margin-right: 0;
  }
  .number {
    color: rgba($color: #000000, $alpha: 0.52);
  }
  .action {
    margin-left: auto;
    button {
      border-radius: 20px;
      background: white;
      border: 2px solid $color-petronas;
      color: $color-petronas;
    }
  }
}
