<iap-breadscrumb></iap-breadscrumb>
<iap-page-header>Findings Detail</iap-page-header>
<iap-box class="none-shadow">
  <div class="findings-detail">
    <iap-card-ref [name]="'Findings Ref No'">AAP/MLNG/2018/DEPA/FC/0001/FIND/1</iap-card-ref>
    <iap-card-info class="no-elipsis" [name]="'Findings Detail'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem veritatis voluptatum aliquam vel cum quo et aliquid dolorem
      laboriosam. Aliquid placeat ex perferendis, ratione voluptas magni dicta ab quibusdam ad omnis laudantium voluptatem
      ipsa necessitatibus cum hic aspernatur distinctio quaerat consequuntur, non sequi tempore eos aut natus. Quisquam,
      asperiores quo.</iap-card-info>
    <iap-card-info [name]="'Findings Status'">Open</iap-card-info>
    <iap-card-info-row>
      <iap-card-info [name]="'Action Party\'s Department'">Department Name 001</iap-card-info>
      <iap-card-info [name]="'Action Party\'s HOD'">HOD Name Surname 001</iap-card-info>
    </iap-card-info-row>
    <iap-label>Attachments (3)</iap-label>
    <div class="attachment-container">
      <iap-attachment-item></iap-attachment-item>
      <iap-attachment-item></iap-attachment-item>
      <iap-attachment-item></iap-attachment-item>
    </div>
  </div>
  <div class="action">
    <button mat-raised-button color="primary">SAVE</button>
  </div>
</iap-box>

<iap-list-action-item></iap-list-action-item>
