@import 'mixin';

iap-box {
    display: flex;
    flex-wrap: wrap;

    .findings-detail {
        flex-basis: 80%;

        @include mediaExtraSmallScreen {
            flex-basis: 100%;
        }

        iap-card-info {
            margin-bottom: 20px;
        }
    }

    .action {
        flex-basis: 20%;
        display: flex;
        justify-content: center; 
        align-items: flex-start;
        flex-grow: 1;

        > button {
            padding: 8px 42px;
        }
    }
}