<iap-small-card-template [color]="'action-item'">
  <header>
    <iap-card-ref [name]="'Action Item Ref No'">AAP/MLNG/2018/DEPTA/FC/0001/FIND/2/ACT/2</iap-card-ref>
    <iap-card-info [name]="'Action Description'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita asperiores mollitia dolorem id minima doloribus recusandae
      ullam ea! Quis, cumque.</iap-card-info>
  </header>
  <footer>
    <iap-card-nav [href]="'/web/annual-assurance-plan/assurance-plan/action-item-detail'">View</iap-card-nav>
    <iap-card-info-row>
      <iap-card-info [name]="'Attachment(s)'">0</iap-card-info>
    </iap-card-info-row>
  </footer>
</iap-small-card-template>
