@import 'variable';
@import 'mixin';
$app-bar-height: 48px;
$side-bar-item-height: 48px;
$side-bar-collapse-width: 48px;
$side-bar-expand-width: 280px;
$button-icon-width: 48px;
$petronas-color: #00A19C;
$icon-color: rgba(255, 255, 255, 0.5);
$icon-hover-color: rgba(255, 255, 255, 1);
$back-drop-opacity: 0.48;
$nav-background-color: #3d3c38;
$title-size: 20px;
$title-pull-left: 16px;
$assurance-weight: 100;
$profile-magin: 8px;
$time-expand: 0.3s;
$display-notification-time: 0.2s;
$active-link: #343330;
$color-background-header: #e9e9e9;
.button-icon {
  width: $button-icon-width;
  min-width: $button-icon-width;
  height: $app-bar-height;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
  &:hover {
    >i {
      color: $icon-hover-color;
    }
  }
  &.burger-button {
    >div {
      height: $app-bar-height;
      width: $app-bar-height;
      background-color: $petronas-color;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 13px 12px;
      >span {
        display: block;
        height: 3px;
        width: calc(#{$button-icon-width} - 12px * 2);
        background: rgba(255, 255, 255, 0.5);
        transition: all $time-expand ease;
      }
    }
    &:hover {
      span {
        background: $icon-hover-color;
      }
    }
    &.expand {
      span {
        &:first-child {
          transform-origin: left top;
          transform: rotate(45deg) translateY(-4px) translateX(2px) scale3d(1, 0.65, 1);
        }
        &:nth-child(2) {
          transform-origin: left center;
          transform: scale(0);
        }
        &:last-child {
          transform-origin: left bottom;
          transform: rotate(-45deg) translateY(2px) translateX(3px) scale3d(1, 0.65, 1);
        }
      }
    }
  }
  &.notification {
    position: relative;
    text-align: center;
  }
  >i {
    width: 100%;
    line-height: $app-bar-height;
    color: $icon-color;
    user-select: none;
    transition: color 0.3s ease-in-out;
  }
}

nav {
  background: $nav-background-color;
  height: $app-bar-height;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: $z-index-top-nav;
  >.petronas-logo-container {
    height: 57px;
    width: 57px;
    margin-left: 16px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  >.title {
    margin-left: $title-pull-left;
    >h4 {
      display: flex;
      margin: 0px;
      line-height: $app-bar-height;
      color: white;
      font-size: $title-size;
      >em {
        font-weight: $assurance-weight;
      }
    }
  }
  >.action-area {
    display: flex;
    margin-left: auto;
  }
  >.profile {
    margin: $profile-magin;
    margin-right: 16px;
    width: calc(#{$app-bar-height} - #{$profile-magin * 2});
    border-radius: 50%;
    background: $petronas-color;
    display: flex;
    justify-content: center;
    align-content: center;
    >div {
      position: relative;
      width: 100%;
      padding: 0;
      cursor: pointer;
      outline: none;
      border: none;
      color: white;
      background: transparent;
      font-size: 15px;
      font-weight: 600;
      >div {
        line-height: calc(#{$app-bar-height} - #{$profile-magin * 2});
        font-size: 14px;
      }
    }
  }
}
